<h1 style="color:#B59BC9">About</h1>

<div>
Hi. Welcome to my website.<br>
<br>
My name is Michael...my last name is Wright, and my middle initial is "J" - that's why this site is called MJW.<br>
<br>
I went with ".is" because I thought that "mjw.is" was a nice combo for a personal site. Also, ".is" is the top-level domain for Iceland, which is one of my favorite places.<br> 
<br>
I started this site to write about things that I care about. I am a private person, so this is my attempt to share more.<br>
<br>
A few personal items:
<ul>
  <li>I am from Buffalo, NY and lived there for the first 17 years of my life. As an adult, I have lived in Vermont, Maryland, Illinois, and Texas. </li>
  <li>I have been to 21 countries and 6 continents. I want to continue exploring.</li>
  <li>I studied economics (BA) at Geneseo and finance (MBA) at the University of Chicago. An evening walk through the UChicago quad is one of my favorite things.</li>
  <li>I invest in software companies for a living. I still think that computers are magic.</li>
  <li>I think that the world would be a better place if people looked up at the night sky more often.</li>
  <li>I speak English natively and Spanish at an intermediate level (~A2/B1). Feel free to reach out if you would like to speak Spanish with me!</li>
</ul>
</div>
<br>
My current favorite software tools are:<br>
<ul>
  <li>Note Organization: Notion </li>
  <li>Flash Cards: Anki</li>
  <li>Journaling: Punkt </li>
  <li>Language Learning: Toucan & Earthlingo </li>
  <li>Email Workflow: Outreach </li>
  <li>Pasting Text without Formatting: Pure Text </li>
  <li>Spanish Accent Marks: Spanish Accents CapsLock 2.0 </li>

</ul>
</div>
<br>
I learned to program at the University of Chicago and I continue to dabble with it. I wrote this site using a combination of HTML, CSS, and Ruby - the code can be found here. <br>